/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /****** BASE STYLES ******/
   html {
     height: 100%
   }

   body {
     height: 100%
     font-family: 'Montserrat', sans-serif;
     font-size: 1.5em;
     font-weight: normal;
     color: #262630;
   }

   img {
     width: 100%;
   }

   figure {
     margin: 0;
   }

   /****** GRID ******/
   .full-width {
     width: 100%;
     margin: 0 auto;
     overflow: auto;
   }

   .half-width {
     width: 50%;
     float: left;
   }

   /****** HEADER ******/
   header {
     height: 30em;
     background: url('../img/hero-img.png')center no-repeat #9883E5;
     background-size: cover;
     overflow: auto;
   }

   .full-width {
     display: flex;
     flex-flow: column;
   }

   header h3 {
     width: 180%;
     margin: 1.7em 0.5em;
     padding: 0.2em;
     background: #FFFFFF;
     border: 1px solid #FFFFFF;
     border-radius: 0.2em;
     font-size: 1.25em;
     color: #9883E5;
     text-align: center;
   }

   .nav {
     width: 100%;
     display: flex;
     flex-flow: column;
     padding: 1em 0;
   }

   nav ul {
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: flex-start;
     flex-wrap: wrap;
     margin: 0 1em;
     padding-left: 0;
     margin-left: 0;
   }

   nav ul li {
     margin: 0.2em;
   }

   nav ul li a {
     background: white;
     border: 0.1em solid #9883E5;
     border-radius: 0.2em;
     font-size: 0.7em;
     color: #9883E5;
     text-align: center;
     text-transform: uppercase;
     padding: 0.3em 0.3em;
   }

   .tagline {
     width: 100%;
     padding: 1em 0;
   }

   header h2 {
     width: 85%;
     font-family: 'Merriweather', serif;
     font-size: 1em;
     font-weight: 600;
     line-height: 1.2em;
     color: #72A1E5FF;
     margin: auto;
     text-align: center;
   }

   header h2 span {
     font-size: 1em;
     color: #50C9CEFF;
   }

   /****** PORTFOLIO ******/
   #portfolio {
     height: auto;
   }

   .port-title {
   	padding: 0.2em 0;
   	font-family:'Merriweather', serif;
   	font-size: 0.8em;
   	font-weight: bold;
   	color: #9883E5FF;
     text-align:center;
   }

   .pf {
   	 margin: 1em 0;
     overflow: auto;
     width: 100%;
     display: flex;
     flex-flow: column;
   }

   .image-container {
     width: 100%;
     height: auto;
   }

   .image-container img {
     width: 100%;
     padding-left: 0;
     overflow: auto;
   	 float: left;
     display: flex;
     justify-content: center;
   }

   .container {
   	float: left;
   	padding: 0.5em 0 0 0.5em;
   	width: 95%;
   	height: auto;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
   }

   .container h3 {
     font-size: 0.8em;
     border-bottom: 0.1em dotted #9883E5FF;
   }

   /****** ABOUT ******/
   #about {
     height: auto;
     background: hsla(30, 82%, 91%, 1);
     background: radial-gradient(circle, hsla(30, 82%, 91%, 1) 0%, hsla(344, 87%, 91%, 1) 100%);
     background: -moz-radial-gradient(circle, hsla(30, 82%, 91%, 1) 0%, hsla(344, 87%, 91%, 1) 100%);
     background: -webkit-radial-gradient(circle, hsla(30, 82%, 91%, 1) 0%, hsla(344, 87%, 91%, 1) 100%);
   }

   .title h2 {
     padding: 0.3em 0;
     font-family:'Merriweather', serif;
     font-size: 1em;
     font-weight: bold;
     color: #FFFFFF;
     text-align:center;
  }

   .about-image-container {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
   }

   .about-img {
     width: 50%;
     height: auto;
     border: 0.4em double #FFFFFF;
     border-radius: 0.4em;
     margin: auto;
   }

   .about-container {
     display: flex;
     flex-flow: row wrap;
     padding: 0 0.5em;
   }

   h5 {
     font-size: 0.7em;
   }

   p {
     font-size: 0.5em;
     font-weight: lighter;
   }

   h3  {
     font-size: 1em;
     font-family:'Merriweather', serif;
   }

   /****** CONTACT ******/
   #contact .full-width {
     width: 100%;
     height: auto;
     background: url('../img/footer-background.png')center no-repeat #9883E5;
     background-size: cover;
     margin: 0.1em;
   }

   .contact-title h2 {
     font-family:'Merriweather', serif;
     font-size: 1em;
     font-weight: bold;
     color: #262630;
     text-align:center;
   }

   h4 {
     text-align: center;
     color: #262630;
     font-family:'Merriweather', serif;
     font-size: 0.7em;
   }

   .email {
     display: flex;
     justify-content: center;
   }

   i.fas.fa-envelope-square {
     width: 1.5em;
     height: auto;
     font-size: 1em;
   }

   #contact a {
     display: flex;
     justify-content: center;
     color: #262630;
     font-weight: bold;
     font-size: 0.7em;
     padding-bottom: 0.5em;
   }

   ul {
     list-style: none;
   }

   ul#socialmedia {
     display: flex;
     justify-content: center;
     padding-left: 0px;
   }

   #socialmedia li {
     width: 2em;
     height: 2em;
     padding: 1em;
   }

   #socialmedia a {
     font-size: 1.2em;
   }

   footer {
     text-align: center;
     font-size: 0.5em;
   }

   /****** Japanese page ******/
   .jap-serif {
     font-family: 'Noto+Serif+JP', serif;
   }

   .jap-sans {
     font-family: 'Noto+Sans+JP', sans-serif;
   }

   h2.jap-serif {
     font-size: 1.4em;
   }



   /****** WORK PAGE add later******/
   .temp h2 {
     padding-top: 10em;
     }

   /****** PORTFOLIO PAGE add later******/

   /****** CONTACT PAGE add later******/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/***** TABLETS *****/
@media (min-width: 768px) {
  .top {
   display: flex;
   flex-flow: row nowrap;
  }

  header h3 {
    width: 9em;
    margin: 1.7em 0.5em;
    padding: 0.2em;
    background: white;
    border: 1px solid #FFFFFF;
    font-size: 1.25em;
    color: #9883E5;
    text-align: center;
  }

  .nav {
    width: 50%;
    float: left;
    padding: 2.5em 0;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0 1em;
    padding-left: 0;
    margin-left: 0;
  }

  nav ul li {
    margin: 0 0.2em;
  }

  nav ul li a {
    background: white;
    border: 0.1em solid #9883E5;
    font-size: 0.7em;
    color: #9883E5;
    text-align: center;
    text-transform: uppercase;
    padding: 0.3em 0.3em;
  }

  .tagline {
    padding: 6em 0;
  }

  .pf {
    flex-flow: row nowrap;
  }

  .image-container {
    width: 45%;
    padding-left: 1em;
    float: left;
  }
  
  .container {
   float: left;
   padding: 0.7em 0 0 2em;
   width: 45%;
   height: auto;
   box-sizing: border-box;
   text-align: left;
   display: inline-block;
  }

  .content-wrapper {
    display: flex;
    flex-flow: row-reverse;
  }

  .about-image-container {
    width: 50%;
  }

  .about-container {
    width: 100%;
    padding: 0 1em;
  }
}

/***** DESKTOPS *****/
@media (min-width: 1200px) {
  .third-width {
    width: 33%;
    float: left;
  }


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
